# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
myenv/
env/
venv/
.venv/
ENV/
env.bak/

# Environment variables
.env
# .env.*

# IDE files
.vscode/
.idea/

# Byte-compiled
*.log
*.sqlite3

# OS files
.DS_Store
Thumbs.db
